@import "../../assets//styles/variables";

.searchLocationWrapper {
  height: 100vh;

  @media(min-width: $tablet) {
    min-width: 460px;
    max-width: 500px;
  }
}

.filterButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  width: 100%;
  border: none;
  border-radius: 12px;
  background-color: $color-light-green;
  color: $color-60-green;
  font-size: 14px;
  font-weight: 400;
  box-shadow: 0px 4px 10px rgba(13, 38, 1, 0.08);

  &>p{
    display: flex;
    align-items: center;
  }
}

.firstIcon {
  margin-right: 10px;
}

.secondIcon {
  justify-self: flex-end;
}

.line {
  width: 100%;
  height: 0.5px;
  background-color: $color-60-green;
  margin: 15px 0 20px;
}

.lineModal {
  @extend .line;

  margin: 30px 0;
}

.companyModal {
  padding: 30px;
  max-width: 388px;
}

.input{
  margin-bottom: 15px
}

.modalButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;

  &>button:first-child {
    margin-right: 16px;
  }
}
