@import "../../assets/styles/variables";

.button{
  width: fit-content;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.small {
  padding: 10px 20px;
}

.medium {
  padding: 15px 20px;
}

.primary {
  background-color: $color-dark-green;
  color: $color-white;
}

.secondary {
  border: 1px solid $color-dark-green;
  background-color: $color-white;
  color: $color-dark-green;
}

.fullWidth {
  width: 100%;
}
