.infoContainer{
 display: flex;
 flex-direction: column;
 margin: 0 10% 0 10%;
}
.infoTitle{
 color: #228662;
 font-weight: bold;
}

.infoFix{
 font-weight: bold;
}

.detailsEstab{
 display: flex;
 margin:0 10% 0 10%;
}


