@import "../../assets/styles/variables";

.modalWrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(42, 48, 39, 0.372);
  display: none;
}

.open {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  box-shadow: 0px 0px 15px rgba(42, 48, 39, 0.372);
  background-color: $color-white;
  border-radius: 12px;
}
