.contaienr{
    display: flex;
    box-shadow: 0px 0px 15px rgba(42, 48, 39, 0.372);
    border-radius: 10px;
    width: fit-content;
}
.cardHeader{
    margin: 20px

}
.camposInput{
    align-items: flex-end;
    margin: auto;
    
}
.campoInput{
    border: none;
}
.h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #0D2601;
}
.h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #0D2601;
}
.border{
    border: 1px solid #0D2601;
}
.buttonCancelar{

    color:  #0D2601;
    border: 1px solid #0D2601;
    border-radius:  12px;
}
.buttonSalvar{
    background-color: #0D2601;
    color:  white;
    gap: 10px;
    border: none;
}
.containerBtn{
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    align-content: flex-end;    
}