.cardRecycleWrapper{
    width: 100px;
    padding: 25px 20px;
    border-radius: 12px;
    box-shadow: 0px 1px 1px rgba(2, 3, 2, 0.563);
}
.descriptionWithLogo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}