
@import "../../assets//styles/variables";

.menuHamburgerIcon {
  cursor: pointer;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 12px;
  padding: 10px;
  background-color: $color-white;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;

  &>div:nth-child(1),
  &>div:nth-child(3) {
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background-color: $default-green;
  }

  &>div:nth-child(2) {
    border-radius: 10px;
    width: 15px;
    height: 3px;
    background-color: $default-green;
    margin: 4px 0;
  }
}

.menuCloseHamburger {
  @extend .menuHamburgerIcon;

  align-items: center;
  padding: 0;

  &>svg {
    font-size: 27px;
    color: $default-green;
  }
}

.menu {
  position: absolute;
  background: $color-white;
  width: 228px;
  top: 0;
  right: 0;
  height: 100vh;
  transform: translateX(100%);
  display: none;
  -webkit-box-shadow: 1px 2px 11px -4px #000000;
  box-shadow: 1px 2px 11px -4px #000000;
}

.menuHeader {
  background-color: $default-green;
  padding: 35px 30px;
  display: flex;
  justify-content: flex-end;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 30px 30px 0 10px;

  &>p {
    color: $color-dark;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &>svg {
      margin-right: 10px;
    }
  }
}

.open {
  transform: translateX(0);
  display: block;
  z-index: 1;
}
