
@import "../../assets/styles/variables";

.informationViewWrapper {
  display: flex;
  flex-direction: column;

  @media(min-width: $tablet) {
    min-width: 460px;
    max-width: 500px;
  }
}

.logo {
  width: 150px;
  height: 150px;
  box-shadow: 0px 4px 16px rgba(13, 38, 1, 0.13);
  border-radius: 12px;
  align-self: center;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  &>svg{
   color: $color-dark-green;
   font-size: 100px;
  }
}

.infoEstab{
 display: flex;
 flex-direction: column;
}

.line{
 height: 0.5px;
 margin: 5px 0 20px;
 width: 100%;
 background-color: $color-60-green;
}








