.infoContainer{
 display: flex;
 flex-direction: column;
 margin: 5% 2% 0 7%;
}

.title{
 font-weight: bold;
}

.topicContainer{
 display: flex;
 justify-content: space-between;
 margin-top: 5%;
}
.iconEnter{
 color: #000000;
}
.text{
 color:#696969;
}