/*
==================== Colors ===================
*/
$default-green: #228662;
$color-white: #ffffff;
$color-dark: #000;

/*
==================== Responsive Breakpoints ====================
*/
$desktop: 1280px;
$tablet-large: 1024px;
$tablet: 768px;
$mobile-large: 435px;
$mobile-medium: 375px;
$mobile-small: 320px;
