@import "./variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;

  @media(min-width: $tablet) {
    display: flex;
    justify-content: center;
  }
}
