
.iconHeader {
 font-size: 2em;
 color: #000000;
 margin: 0;
 top: 0;
}

.header{
 display: flex;
 align-items: center;
 box-shadow: 0px 4px 15px rgba(13, 38, 1, 0.13);
 border-radius: 0 0 12px 12px ;
 background-color: #f7f7f7;
}

.title{
 font-size: 17px;
}

.menuText{
 margin-left: 3%;
}

.searchBar{
 display: flex;
 margin: 10%;
}

.infoEstab{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.line{
 height: 0.5px;
 width: 100%;
 background-color: black;
}

.logoImg{
 max-width: 200px;
 width: 70%;
 height: 200px;
}



