@import "../../assets/styles/variables";

.infoContainer{
 display: flex;
 flex-direction: column;
 margin: 0 10px 0 10px;
}

.title{
 color: $color-dark-green;
 font-weight: 700;
 padding-bottom: 20px;
}

.text{
 color:$color-70-green;
 text-align: justify;
}

.link{
 font-weight: bold;
 color:$color-dark;
 text-decoration: underline;
}