.infoContainer{
 display: flex;
 flex-direction: column;
 margin: 0 7% 0 7%;
}

.title{
 color: #000000;
 font-weight: bold;
 padding-top:5%;
}

.iconEnter{
 color: #000000;
}

.text{
 color:#696969;
 text-align: justify;
 padding-top: 5%;
}

.link{
 font-weight: bold;
 color:#000000;
 text-decoration: underline;
}