@import "../../assets/styles/variables";

.containerFind{
 display: flex;
 flex-direction: column;
 margin: 0 10px 0 10px;
}

.title{
 color: $color-dark-green;
 font-weight: 700;
 padding-bottom: 10px;
}

.iconEnter{
 color: $color-dark;
}

.text{
 color:#696969;
 text-align: justify;
 padding-bottom: 30px;
 font-weight: 500;
}

.link{
 font-weight: bold;
 color:#000000;
 text-decoration: underline;
}